body {
  background-image: url(./bg.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 18px;
  background-attachment: fixed;
  
}
#exams {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-bottom: 5px;
}

#exams td,
#exams th {
  border: 1px solid #ffffff;
  padding: 10px;
  width: 100%;
}
.cop {
  display: flex;
  justify-content: center;
}
img {
  max-width: 80px;
}
p {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 12px;
  margin: 0px;
}
